.search-table{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 8px 16px;

    .form-element{
        width: 48%;
        padding: 8px 0px;
        label{
            display: block;
            padding-bottom: 8px;
        }
    }    

    .submit-element{
        width: 100%;
    }
}

.table-token{
    text-align: right;
    width: 100%;
    .table-token-value{
        width: 85%;
        display: inline-block;
    }
}